<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-neutral-100">
    <div class="flex w-full h-screen bg-[url('https://pbs.twimg.com/media/Ea46atnUcAUVYme?format=jpg&name=4096x4096')] bg-cover items-center justify-center font-mono p-20">
        <div class="text-neutral-900">
            <div class="m-auto w-fit text-center backdrop-blur-lg p-7 border-2 border-sky-300 rounded-lg h-fit">
                <h1 class="text-3xl font-black">404 Not Found!</h1>
                <h1 class="font-bold">"{{ idol }}" isn't noctchill member!</h1>
                <a href="/" class="underline">Back to home.</a>
            </div>
        </div>
    </div>
</body>
</html>